<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Mail</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_agencies.each do |admin_agency| %>
      <tr>
        <td><%= link_to admin_agency.name, admin_agency %></td>
        <td><%= link_to admin_agency.website, admin_agency.website %></td>
        <td><%= admin_agency.mail %></td>
        <td><%= admin_agency.phone %></td>
        <td><%= link_to 'Show', admin_agency %></td>
        <td><%= link_to 'Edit', edit_admin_agency_path(admin_agency) %></td>
        <td><%= link_to 'Destroy', admin_agency, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>